@import 'variables.scss';

html {
    scroll-behavior: smooth;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}
a {
    color: $color-green;
    font-weight: bold;
}
a:hover {
    color: $color-green;
    opacity: 0.5;
    text-decoration: none;
}
.shadowed {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.display-none {
    display: none !important;
}
.hidden {
    margin-top: -100px;
    opacity: 0 !important;
    transition: margin 0.3s;
}

.regular-text {
    font-family: $eras;
    font-size: 24px;
}

.small-text {
    font-family: $eras;
    font-size: 18px;
}
.bold {
    font-weight: bold;
}

p, h1, h2, h3, h4, h5 {
    padding: 0 300px;
}

.noPadding {
    padding: 0;
}
.noMargin {
    margin: 0;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
h1, h2, h3, h4, h5 {
    font-family: $eras;
    font-weight: bold;
}
.color-blue {
    color: $color-blue;
}
.color-red {
    color: $color-red;
}
.color-yellow {
    color: $color-yellow;
}
.color-green {
    color: $color-green;
}
.color-pink {
    color: $color-pink;
}
.color-teal {
    color: $color-teal;
}
.main-content {
    text-align: center;
    background-color: #faf8f1;
    background-image: url("./img/bg.png");
}
.full-width {
    display: flex;
    width: 100%;
    justify-content: center;
}
.full-height {
    height: 100vh;
}
.row-align {
    flex-direction: column;
}
.flex-end {
    align-items: flex-end;
}

.flex-center {
    align-items: center;
}

.hide-on-desktop {
    display: none;
}
.link {
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
@media screen and (max-width:1024px) {
    p, h1, h2, h3, h4, h5 {
        padding: 0 150px;
    }
}
@media screen and (max-width:768px) {
    .hide-on-mobile {
        display: none;
    }
    .hide-on-desktop {
        display: inherit;
    }

    p, h1, h2, h3, h4, h5 {
        padding: 0 10px;
    }

    .regular-text {
        font-size: 18px;
    }
    .small-text {
        font-size: 14px;
    }
        
}