@import 'variables.scss';

html {
    scroll-behavior: smooth;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}
a {
    color: $color-green;
}
a:hover {
    color: $color-green;
    opacity: 0.5;
    text-decoration: none;
}
.shadowed {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.display-none {
    display: none;
}
.hidden {
    opacity: 0 !important;
}

.regular-text {
    font-family: $eras;
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

p {
    padding: 5px;
}

.noPadding {
    padding: 0;
}
.noMargin {
    margin: 0;
}

@media screen and (max-width:768px) {
    .hide-on-mobile {
        display: none;
    }
}