.top-bar {
    font-family: $eras;
    font-size: 24px;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 140px;
    background-color: #f1eddf;
    background-image: url("./img/bg.png");
    top: 0 !important;
    
    color: black;
    font-weight: 600;
    opacity: 0.9;
    transition: all 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
    span {
        flex-grow: 1;
        text-align: center;
    }
}

.logo {
    height: 120px;
}
.desktop-nav {
    transition: all 0.5s;
}

.desktop-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.desktop-nav ul li {
    display: inline-block;
    width: 120px;
    text-align: center;
    transition: all .2s ease-in-out;
}

li:nth-child(1) a{ color: $color-blue; }
li:nth-child(2) a{ color: $color-red; }
li:nth-child(3) a { color: $color-yellow; }
li:nth-child(4) a { color: $color-green; }
li:nth-child(5) a { color: $color-pink; }
li:nth-child(6) a { color: $color-teal; }
li:nth-child(7) a { color: $color-green; }

li:hover{
    transform: scale(1.1);
}

@media screen and (max-width:768px) {
    .top-bar {
        font-size: 16px;
        height: 60px;
    }
    .desktop-nav ul li {
        width: 80px;
    }
}