.top-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #043961;
    color: white;
    font-weight: lighter;
    opacity: 1;
    transition: opacity 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
    span {
        flex-grow: 1;
        text-align: center;
    }
}