.confirmation input {
    font-size: 36px;
    font-display: $eras;
    padding: 10px;
    margin: 0 5px;
    border: 0px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
}
button {
    background-color: rgba(white, 0.7);
    border: 2px solid lightgrey;
    color: grey;
    font-weight: bold;
    margin: 2px 10px;
    padding: 10px;
    width: 150px;
    transition: all .2s ease-in-out;
}
button:hover {
    background-color: white;
    transform: scale(1.1);
}
button:focus, button:active, button:visited{
    outline:0;
}
.confirmation-container {
    margin-top: 140px;
    height: calc(100vh - 140px);
}
.guests-table {
    overflow: auto;
    display: block;
}
.guests-table tr {
    min-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.guests-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255,0.4);
}
.guests-table th, .guests-table td {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 20px;
}
.regular-text-list {
    font-family: $eras;
    font-size: 20px;
}
.selected-green-list {
    border: 2px solid $color-green !important;
    color: $color-green;
}
.selected-red-list {
    border: 2px solid $color-red !important;
    color: $color-red;
}
.selected-green {
    border: 2px solid $color-green !important;
    color: $color-green;
    transform: scale(1.1);
}
.selected-red {
    border: 2px solid $color-red !important;
    color: $color-red;
    transform: scale(1.1);
}
.spinner-bg {
    width: 200px;
    height: 200px;
    background-image: url('./img/logo_spinner_bg.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 100%;
    -webkit-animation:spin 2s ease-in infinite;
    -moz-animation:spin 2s ease-in infinite;
    animation:spin 2s ease-in-out infinite;
}
.modal-guests-container {
    background-color: rgba(black, 0.7);
    position: absolute;
    height: calc(100vh - 140px);
    z-index: 9;
}
.modal-guests {
    background-color: white;
}
.modal-guests table {
    margin: 20px;
}
.modal-close {
    color: red;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: rgba(#f1eddf, 1);
    background-image: url(/static/media/bg.ac1839b0.png);
    padding: 20px;
    cursor: pointer;
}
.modal-close:hover {
    background-color: rgba(#f1eddf, 0.7);
}
@media screen and (max-width:768px) {
    .regular-text-list {
        font-size: 10px;
    }

    .button-list {
        width: 50px;
    }

    .confirmation input {
        font-size: 28px;
        height: 60px;
        width: 60px;
    }

    .guests-table th, .guests-table td {
        padding: 0 5px;
    }
    
    button {
        width: 90px;
        padding: 5px;
        margin: 2px;
        font-size: 12px;
    }

    .confirmation-container {
        margin-top: 60px;
        height: calc(100vh - 60px);
    }
    
    
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }