.main-screen {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.down-arrow {
    margin-bottom: 40px;
    font-size: 60px;
}

.down-arrow a {
    color: #d7d7d7;
}

.down-arrow a:hover {
    color: white;
    text-decoration: none;
}

.info {
    position: absolute;
    width: 100vw;
}

.info-bottom {
    bottom: 130px;
}

.info-top {
    top: 220px;
}

.info-img {
    width: 100%;
}

.provider {
    height: 80px;
    padding: 5px;
}
@media screen and (max-width:768px) {
    .down-arrow {
        justify-content: flex-start;
        margin-bottom: 50px;
    }
}