.main-content {
    text-align: center;
    background-color: #faf8f1;
    background-image: url("./img/bg.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.top-flowers {
    width: 400px;
}

.names {
    width: 500px;
}

@media screen and (max-width:768px) {
    .top-flowers, .names, .timeline {
        width: 100%;
    }
}